@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Revolution&display=swap");

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header .title {
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
}

.information {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.information p {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.125rem;
}

.information p::before {
  content: " ";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/job.png");
  background-size: contain;
}

.information .job::before {
  background-image: url("../img/icons/job.png");
}

.information .location::before {
  background-image: url("../img/icons/location.png");
}
.information .phone::before {
  background-image: url("../img/icons/phone.png");
}
.information .email::before {
  background-image: url("../img/icons/email.png");
}
