.languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.languages li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/check.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  margin-bottom: -1px;
}
